<?xml version="1.0"?>
<config>
    <sections>
        <dev>
            <groups>
                <config_set_upload translate="label">
                    <label>Upload configuration</label>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <config_file translate="label comment">
                            <label>Config CSV file</label>
                            <label>Please follow the format: config path,</label>
                            <frontend_type>file</frontend_type>
                            <backend_model>andKirby_configSet/system_config_backend_csv</backend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </config_file>
                    </fields>
                </config_set_upload>
            </groups>
        </dev>
    </sections>
</config>
